.roadmap {
  @apply flex justify-center pt-12 pb-12;
  background: url('/images/patterns/roadmap.svg'), #100e16;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  @screen md {
    @apply pt-24 pb-24;
    background: url('/images/patterns/roadmap.svg'), #100e16;
    background-repeat: no-repeat;
    background-position: right;
  }
}

.content_p {
  @apply mb-6;
}
