.tabs {
  @apply flex justify-center mt-12;
  background: url('/images/patterns/right.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.cards {
  @apply grid grid-cols-1 gap-8 items-center py-16;

  @screen sm {
    @apply grid grid-cols-2 gap-12 items-center;
  }

  @screen lg {
    @apply grid grid-cols-3 gap-16 items-center;
  }
}

.card {
  @apply flex flex-col items-center max-w-xs self-stretch justify-self-center;
}

.tab_link {
  @apply font-numbers px-2 py-4 text-lg border-b text-white border-gray-400 outline-none focus:outline-none;

  @screen md {
    @apply px-6 text-2xl;
  }
}

.tab_link_active {
  @apply border-b-4 text-blue-400 border-blue-400;
}
