.about {
  @apply flex justify-center pt-12 pb-12;
  background-image: url('/images/patterns/left.svg');
  background-repeat: no-repeat;
  background-position: left bottom;

  @screen md {
    @apply pt-24 pb-24;
  }
}

.card_1 {
  @apply flex justify-center items-center rounded-full p-2;
  @apply bg-blue-800;
  box-shadow: 0px 4px 31px rgba(30, 64, 175, 0.44);
}

.card_2 {
  @apply flex justify-center items-center rounded-full p-2;
  @apply bg-teal-600;
  box-shadow: 0px 4px 31px rgba(13, 148, 136, 0.44);
}

.card_3 {
  @apply flex justify-center items-center rounded-full p-2;
  @apply bg-rose-500;
  box-shadow: 0px 4px 31px rgba(244, 63, 94, 0.44);
}

.card_4 {
  @apply flex justify-center items-center rounded-full p-2;
  @apply bg-blue-600;
  box-shadow: 0px 4px 31px rgba(37, 99, 235, 0.44);
}
